<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ics4u.nac">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ViewActivitiesActivity"
            android:label="Network Activity Coordinator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <category android:name="android.intent.category.BROWSABLE"></category>
                <data
                    android:scheme="http"
                    android:host="nacshare.com"
                    android:pathPrefix="/ics4u">
                </data>
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Login" />
        <activity
            android:name=".ActivityPropertyActivity"
            android:label="Change Activity Properties"
            android:parentActivityName=".ViewActivitiesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ViewActivitiesActivity" />
        </activity>
        <activity
            android:name=".ActivityShareActivity"
            android:label="Send Notification for Activity"
            android:parentActivityName=".ViewActivitiesActivity"
            android:windowSoftInputMode="adjustPan">
        </activity>
    </application>

</manifest>